.github/**
.vscode/**
typings/**
out/test/**
test/**
docs/*.*
docs/images/*.gif
docs/images/*.svg
**/*.map
**/*.vsix

.gitignore
wallaby.js
tsconfig.json
tslint.json
vsc-extension-quickstart.md
yarn.lock
appveyor.yml